* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#operationSection {
  margin-top: 10px;
  height: 100px;

  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  display: flex;
  justify-content: center;
  align-items: center;

  #button {
    margin-right: 150px;
    button {
      height: 50px;
      width: 120px;
      border: 1px solid black;
      border-radius: 10px;
    }
    button:hover {
      background-color: greenyellow;
      color: white;
      border-radius: 10px;
    }
  }
  #searchoption {
    height: 50px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    option {
      height: 50px;
      width: 300px;
    }
  }
  input {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
  }
  button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
  }
  button:hover {
    color: white;
    background-color: greenyellow;
  }
}

.formcover{
  height: 510px;
  width: 500px;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
 background-color: white;
 
  form{
   // margin-left: 140px;
    display: flex;
    align-items: center;
    h4{
      text-align: center;
    }
    label{
      font-size: 15px;
      color:black;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 510px;
    
    
  input{
    text-align: center;
    width: 200px;
    height: 35px;
  }
  button{
    height: 35px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
  }
  button:hover{
    color: white;
    background-color: greenyellow;

  }
    
  }
display: none;
}


